{% extends 'base.html' %}

{% block title %}
Main Chat page
{% endblock %}

{% block content %}
<textarea id='subscribe' class="form-control" rows="15"></textarea>
    <p>
        <input  type="text" id="message">
        <input class="btn btn-primary" type="submit" id='submit' value="Send">
        <input class="btn btn-default" type="button", id="signout", value="Sign Out">
    </p>
{% endblock %}

{% block footer %}
    <script src="{{ app.router.static.url(filename='js/main.js') }}"></script>
{% endblock %}
