{% extends 'base.html' %}
{% block title %}
Main Chat page
{% endblock %}
{% block js %}
    <script src="//cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>
{% endblock %}
{% block content %}
<div id='subscribe'></div>
<form name="publish">
    <p>
        <input type="text" name="message">
        <input type="submit" value="Send">
        <input type="button", id="signout", value="Sign Out">
    </p>
</form>
{% endblock %}
{% block footer %}
    <script src="{{ app.router.static.url(filename='js/main.js') }}"></script>
{% endblock %}
