<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" 
            type="image/png" 
            href="{{ app.router.static.url(filename='img/favicon.png') }}">
    <script src="{{ app.router.static.url(filename='js/sockjs.min.js') }}"></script>
</head>
<body>
    {% block content%}
    {% endblock %}
</body>
<footer>
    <script src="{{ app.router.static.url(filename='js/main.js') }}"></script>
    {% block footer %}
    {% endblock %}
</footer>
</html>
