{% extends 'base.html' %}
{% block js %}
 <script>
    $(document).ready(function(){

        $('#signin').click(function(){
            window.location.href = "signin"
        });

        function showError(error){
            $('#error').html(error)
        }

        $('#submit').click(function(){
            var login = $('#login').val(),
                password = $('#password').val();
            console.log(login, 'if pass the same');
            if(login && password){
                $.post('login', {'login': login, 'password': password}, function(data){
                    console.log(data);
                    if (data.error){
                        showError(data.error)
                    }else{
                        window.location.href = '/'
                    }
                });
            }else{
                showError('Please fill all fields')
            }
        });
    });
</script>
{% endblock %}
{% block content %}
<h4>
{{ conten }}
</h4>
<form autocomplete="on">
    <div id="error" style="color: red;"></div>
    <div class="form-group">
        <label>Insert login
            <input type="text" class="form-control" pattern="[A-Za-zА-Яа-я0-9]{3,}" placeholder="Login" id="login" required>
        </label>
    </div>

    <div class="form-group">
        <label>Enter password
            <input type="password" class="form-control" pattern="[A-Za-zА-Яа-я0-9]{8,}" placeholder="Password", id="password" required>
        </label>
    </div>
    <p>
        <input class="btn btn-primary" id="submit" title="Send" type="button" value="Send">
        <input class="btn btn-default" id="signin" title="Sign In" type="button" value="Sign In">
    </p>
</form>
{% endblock %}
