{% extends 'base.html' %}
{% block content %}
{{ conten }}
<form method="post" action="login" autocomplete="on">
    <p>Login<br>
        <input title="Insert login" type="text" name="login">
    </p>
    <p>Password<br>
        <input title="Enter password" type="password" pattern="[A-Za-zА-Яа-я0-9]{8,}" name="password">
    </p>
    <p>
        <input title="Send" type="submit" value="Send">
        <input id="signin" title="Sign In" type="button" value="Sign In">
    </p>
</form>
<script>
document.getElementById('signin').addEventListener("click", function(e){
    window.location.href = "signin"
});
</script>
{% endblock %}
