{% extends 'base.html' %}
{% block js %}
<script>
    $(document).ready(function(){

        $('#login').click(function(){
            window.location.href = "login"
        });

        function showError(error){
            $('#error').html(error)
        }

        $('#submit').click(function(){
            var login = $('#login_text').val(),
                email = $('#email').val(),
                password = $('#password'),
                password2 = $('#password2');
            console.log(login, email, password.val(), password2.val());
            if(password.val() === password2.val()){
                console.log(login, 'if pass the same');
                if (login && email && password){
                    $.post('signin', {'login': login, 'email': email, 'password': password.val()}, function(data){
                        console.log(data);
                        if (data.error){
                            showError(data.error)
                        }else{
                            window.location.href = '/'
                        }
                    });
                }else{
                    showError('Please fill all fields')
                }
            }else{
                showError('Passwords must be the same');
            }
        });
    });
</script>
{% endblock %}
{% block content %}
<h4>
{{ conten }}
</h4>
<form autocomplete="on">
    <div id="error" style="color: red;"></div>
    <div class="form-group">
        <label>Insert login
            <input type="text" class="form-control" pattern="[A-Za-zА-Яа-я0-9]{3,}" placeholder="Login" id="login_text" required>
        </label>
    </div>
    <div class="form-group">
        <label>Email address
            <input type="email" class="form-control" placeholder="Email", id="email" required>
        </label>
    </div>
    <div class="form-group">
        <label>Enter password
            <input type="password" class="form-control" pattern="[A-Za-zА-Яа-я0-9]{8,}" placeholder="Password", id="password" required>
        </label>
    </div>
    <div class="form-group">
        <label>Password check
            <input type="password" class="form-control" pattern="[A-Za-zА-Яа-я0-9]{8,}" placeholder="Password", id="password2" required>
        </label>
    </div>
    <p>
        <input class="btn btn-primary" id="submit" title="Send" type="button" value="Send">
        <input class="btn btn-default" id="login" title="Login" type="button" value="Login">
    </p>
</form>
{% endblock %}
